<h1>Dear elf,</h1>
<p>Your personal registration link is ready: <%= link_to 'Click to register', @invite_link %></p>
<p>Please let me know if you have any questions. I look forward to working with you!</p>
<p>Yours Sincerely, Santa.</p>