    <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "Title", required: true, maxlength: 50 %>
    </div>

    <div class="form-group">
        <%= f.text_area :description, class: 'form-control mb-3', placeholder: "Describe a gift you want here" %>
    </div>

   

